body
{
	background-color: white;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}



.zdjecia img
{
	width: 80%;
	height: 90%;
	border-style: inset;
	 border-width: 5px;
	 border-color: #8B0000;
	 
	 
}

.zdjecia p
{
	margin-bottom: 20px;
	margin-top: 30px;
}








/*
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}
*/

.navbar
{
	min-height: 57px;
}

.bg-jopi
{
	background-color: #6495ED	 !important;
}



.wpis
{
	text-align: justify;
	font-size: 16px;
	padding: 30px;
	margin-bottom: 40px;
}

.list-group-item-dark
{
	background-color: #373a3d;
	color: white;
}

.list-group-item-dark:hover
{
	background-color:#6495ED !important;
}

.list-group .active
{
	background-color:#6495ED !important;
	cursor: default;
}

.blockquote
{
	line-height: 120%;
}

@media (max-width: 575px)
{
	.wpis
	{
		margin: 40px 20px;
		text-align: left;
		font-size: 15px;
		text-align: center
		}
	
	.float-left, .float-right
	{
		max-width: 50%;
	}
	
	.blockquote
	{
		font-size: 17px;
	}
	
	.list-group
	{
		text-align: center;
	}

}

footer
{
	background-color: #3f3f3f;
	color: #d5d5d5;
	font-size: 15px;
	
}

footer h5
{
	font-size: 15px;
}

hr.light
{
	
	border-style: solid;
	 border-width:1px;
	 border-color: white;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}


.rozmiar-otoczenia
{
	width:400px	 !important;
	height:300px !important;
}


.carousel-item img
{
	width: auto;
	height: 600px;
	max-height: 600px;
}
.color_carousel
{
background-color:#6495ED !important;
}

@media (max-height: 700px), (max-width: 700px) 
{
	.carousel-item img
	{
		max-height: 350px;

	}
}

.wieloosobowy, .trzyosobowy, .dwuosobowy, .prywatna
{
	position: relative; top: 25px;

}

.galeria h3
{
	position: relative; top: 15px;
}
.galeria img
{
	width: 100%;
	height: 100%;
}


.map-container-3{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-3 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}













.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url("Katowice 2.jpg");
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
}

.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #1e62d8;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 40px;
	margin-bottom: 30px;
	
}

.booking-cta h1 {
	font-size: 56px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.8);
}



.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */






@media (max-width: 575px)
{
	main
	{
		margin-top: 75%;
	}

	
	
	@media (max-width: 575px)
{
.carousel-item img
	{
	width: 400px;
	height: 300px;
	
	}
}


@media (max-width: 575px)
{
	.section .section-center 
	{
	position: absolute;
	top: 77%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	}
}

@media (max-width: 575px)
{
	form
	{
		
		justify-content: center;
		align-items: center;
		
		
	}
}







